.cph/
**/.cph/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bin

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
azhar-sheet-01/.vscode/settings.json
azhar-sheet-01/.vscode/tasks.json
azhar-sheet-01/.vscode/launch.json
contest-11-06-2024/.vscode/settings.json
.vscode/settings.json
siemens-prep/Minimum size lexicographically smallest string which is not a substring of given string.bin
